<%= form_with(model: @flight) do |form| %>


  <div>
    <%= form.label :scheduled_on, style: "display: block" %>
    <%= form.date_field :scheduled_on %>
  </div>

  <div>
    <%= form.label :departure_airport_id, style: "display: block" %>
    <%= form.number_field :departure_airport_id %>
  </div>

  <div>
    <%= form.label :arrival_airport_id, style: "display: block" %>
    <%= form.number_field :arrival_airport_id %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
