<div>
    <h2>Detalles sobre la reserva</h2>

   <% @booking.passengers.each_with_index do |passenger, idx| %>   
        <h3>Pasajero <%= @n %></h3>
        <p>Nombre: <%= passenger.name %></p>
        <p>Email: <%= passenger.name %></p>
        <% @n += 1 %>
      <% end %>
    
    <h3>Vuelo</h3>
    <p><%= @booking.flight.departure_airport.code %></p>
    <p><%= @booking.flight.arrival_airport.code %></p>
    <p><%= @booking.flight.scheduled_on %></p>
    
    <%= link_to "Editar reserva", edit_booking_path, method: :get %>
    <%= button_to "Reservar otro vuelo", flights_path, method: :get %>
</div>